@import "tailwindcss";

:root {
  --foreground: #f9fafb; /* Light foreground for dark mode */
  --background: #030712; /* Deep dark background (gray-950) */
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --font-sans: var(--font-sans); /* Tell Tailwind to use our variable */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* Apply the font */
}